{% extends 'fandom/base.html' %}

{% block title %}
    Delete Album
{% endblock %}

{% block content %}
    <form
        action="{{ album.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            album {{ album }}?
        </p>
        <a href="{{ album.get_absolute_url }}"
            class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Album</button>
    </form>
{% endblock %}
