{% extends 'fandom/base.html' %}

{% block title %}
    Delete contribution
{% endblock %}

{% block content %}
    <form
        action="{{ create.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            this contribution {{ semester }}?
        </p>
        <a href="{{ create.get_absolute_url }}"
           class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Create</button>
    </form>
{% endblock %}
