{% extends 'fandom/base.html' %}

{% block title %}
    Error Deleting Event
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Event</h2>
        <p>
            You may not delete event {{ event }}.
            This event currently has the following activities:
        </p>

        <ul>
            {% for act in activity %}
            <li><a href="{{ act.get_absolute_url }}">{{ act }}</a></li>
            {%  endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'fandom_event_list_urlpattern' %}">Event List</a>.
        </p>
    </div>
{% endblock %}
