{% extends 'fandom/base.html' %}

{% block title %}
    Delete Group
{% endblock %}

{% block content %}
    <form
        action="{{ group.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            group {{ group }}?
        </p>
        <a href="{{ group.get_absolute_url }}"
            class="button button-primary">
            Cancel</a>
        <button type="submit" class="button button-primary">Delete Group</button>
    </form>
{% endblock %}
